.parent{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    grid-template-areas:
    "a a a a b b b b"
    "a a a a b b b b"
    "c c c c d d d d"
    "c c c c d d d d";


}

.box1, .box2, .box3, .box4, .box5{
    width: 375px;
    height: max-content;
    padding: 10px;
    margin: 0px;
    text-align: center;
    border-radius: 20px;
    display: grid;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    place-content: center;
    align-items: flex-start;
    justify-content: space-between;

}
.image1, .image2, .image3, .image4, .image5{
    display:flex;
    border-radius: 20px;
}

.box1{
    background-color:hsl(225, 100%, 94%);
    align-self: flex-start;
    grid-area: a;

}

.box2{
    background-color:hsl(245, 75%, 52%);
    grid-area: b;

}

.box3{
    background-color:hsl(225, 100%, 98%);
    grid-area: c;

}

.box4{
    background-color:hsl(224, 23%, 55%);
    grid-area: d;

}

.box5{
    background-color:hsl(223, 47%, 23%);
    grid-area: auto;

}

